<nav class="main-menu sidebar">
  <div class="burger-menu">
    <!-- <a class="logo-link nav-icon" [routerLink]="landingPageRoute">
      <img id="logo-one" class="logo" [src]="appLogo" />
    </a> -->

    <div class="burger-click-region" (click)="haminate()">
      <span class="burger-menu-piece top"></span>
      <span class="burger-menu-piece middle"></span>
      <span class="burger-menu-piece bottom"></span>
    </div>
  </div>

  <div class="" id="style-1">
    <ul class="nav-menu">
      <li class="sidetext">
        <img src="../../../assets/icons/FacebookLogo.svg" alt="" />
      </li>

      <li class="sidetext">
        <img src="../../../assets/icons/InstagramLogo.svg" alt="" />
      </li>

      <li class="sidetext">
        <img src="../../../assets/icons/GithubLogo.svg" alt="" />
      </li>

      <li class="sidetext">
        <img src="../../../assets/icons/InstagramLogo.svg" alt="" />
      </li>

      <li class="sidetext">
        <img src="../../../assets/icons/TwitterLogo.svg" alt="" />
      </li>
    </ul>
  </div>
</nav>
